/*=====================
Overrides for Responsive Design
=====================*/
ul, p, h5{
	font-size: 4vmin;
}
h1 {
	font-size: 10vmin;
}
h2 {
	font-size: 8vmin;
}
h3 {
	font-size: 6vmin;
}
h4 {
	font-size: 5vmin;
}
h5 {
	font-size: 4vmin;
}


/*=====================
	Misc Elements
=====================*/
.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#contents {
	margin: 0.5em 0 0.5em 0;
}
#indicators {
	min-width: 100px;
	width: 25%;
}
.background-25{
	background: rgba(255, 255, 255, 0.25);
}
.background-50{
	background: rgba(255, 255, 255, 0.5);
}
.background-75{
	background: rgba(255, 255, 255, 0.75);
}
#logo {
	z-index: 0;
	margin: -8% 0 0 -5%;
	height: 110%;
	width: 110%;
	text-align: center;
	position: fixed;
}
#logo img{
	z-index: 1;
	margin-top: 40vh;
	-webkit-transition: height 2s linear, width 2s linear;
	-o-transition: height 2s linear, width 2s linear;
	-moz-transition: height 2s linear, width 2s linear;
	transition: height 2s linear, width 2s linear;
}


/*=====================
JQM Overrides - JQM is awful w/ high-res
=====================*/
.ui-li-thumb{
    max-height: 20vmin; 
    max-width: 20vmin;
}
.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit{
	padding-left: 25vmin;
}
.ui-li-thumb, .ui-li-icon {
    left: 1px;
    height: 20vmin; 
    width: 20vmin;
    position: absolute;
    top: 0;
}
.ui-page.ui-body-c {
    background:url('vegetables%20wooden%20background-croppedx2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}
.ui-header .ui-title{
	min-height: 50px;
	font-size: 7vmin;
	margin: 0;
	text-overflow: unset;
}
input.ui-input-text{
	font-size: 4vmin;
}
.ui-btn-text{
	font-size: 3vmin;
}
#contents .ui-btn-text, #contents .ui-link-inherit{
	height: 20vmin;
}
#contents .ui-li .ui-btn-inner a.ui-link-inherit{
	padding-top: 0;
	padding-bottom: 0;
}
#contents .ui-li-heading{
	font-size: 3vmin;
}
#contents .ui-li-desc{
	font-size: 2.5vmin;
}
.ui-footer .ui-btn-inner{
	font-size: 3vmin;
}

/*============
  ANIMATIONS
============*/
.spinner {
	-webkit-animation: spin 4s infinite linear;
	-moz-animation: spin 4s infinite linear;
	-ms-animation: spin 4s infinite linear;
	animation: spin 4s infinite linear;		
}
@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(360deg);
	}
}
@-ms-keyframes spin { 
	from { 
		-ms-transform: rotate(0deg); 
	} to { 
		-ms-transform: rotate(360deg); 
	}
}
@-moz-keyframes spin { 
	from { 
		-moz-transform: rotate(0deg); 
	} to { 
		-moz-transform: rotate(360deg); 
	}
}
@keyframes spin { 
	from { 
		transform: rotate(0deg); 
	} to { 
		transform: rotate(360deg); 
	}
}