.ui-page.ui-body-c {
    background: url('http://www.commonground.coop/sites/default/files/vegetables%20wooden%20background-croppedx2.jpg');
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;  
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#contents {
	margin: 0.5em 0 0.5em 0;
}
#indicators {
	min-width: 100px;
	width: 25%;
}

/*=====================
JQuery Mobile Overrides
=====================*/
.ui-li-thumb, .ui-li-icon {
    left: 1px;
    height: 100%; 
    width: 100%;
    position: absolute;
    top: 0;
}